html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 72px 1980px #fff, 484px 1137px #fff, 1350px 299px #fff,
    216px 1766px #fff, 689px 1687px #fff, 1052px 1413px #fff, 644px 1830px #fff,
    1549px 325px #fff, 148px 676px #fff, 427px 590px #fff, 1273px 1704px #fff,
    415px 368px #fff, 300px 1528px #fff, 1095px 847px #fff, 423px 946px #fff,
    611px 1180px #fff, 1109px 166px #fff, 955px 1312px #fff, 1630px 465px #fff,
    678px 1221px #fff, 1347px 446px #fff, 19px 601px #fff, 1360px 1325px #fff,
    753px 829px #fff, 112px 883px #fff, 723px 1983px #fff, 1255px 1837px #fff,
    1370px 826px #fff, 1390px 1094px #fff, 1562px 1074px #fff, 1219px 634px #fff,
    1755px 1793px #fff, 38px 1506px #fff, 1145px 589px #fff, 206px 1092px #fff,
    448px 1294px #fff, 1562px 1721px #fff, 1341px 69px #fff, 333px 512px #fff,
    86px 1447px #fff, 382px 1903px #fff, 1115px 1170px #fff, 1651px 763px #fff,
    917px 824px #fff, 1637px 726px #fff, 933px 649px #fff, 444px 669px #fff,
    776px 2000px #fff, 373px 705px #fff, 120px 564px #fff, 113px 934px #fff,
    1069px 544px #fff, 1510px 115px #fff, 1178px 638px #fff, 252px 1443px #fff,
    164px 690px #fff, 1238px 1504px #fff, 1968px 572px #fff, 723px 1671px #fff,
    106px 653px #fff, 538px 630px #fff, 92px 1926px #fff, 1475px 1624px #fff,
    709px 501px #fff, 1895px 649px #fff, 108px 1326px #fff, 1872px 1341px #fff,
    1456px 1964px #fff, 15px 1449px #fff, 661px 1989px #fff, 1593px 1095px #fff,
    386px 314px #fff, 1898px 1978px #fff, 1884px 973px #fff, 214px 1790px #fff,
    448px 1474px #fff, 528px 1691px #fff, 401px 1182px #fff, 471px 1203px #fff,
    756px 560px #fff, 122px 573px #fff, 346px 1836px #fff, 1529px 1497px #fff,
    1814px 1749px #fff, 1348px 1728px #fff, 573px 1481px #fff, 1373px 151px #fff,
    1860px 779px #fff, 1560px 1846px #fff, 529px 1148px #fff, 529px 1470px #fff,
    1291px 700px #fff, 1137px 1407px #fff, 1674px 1144px #fff,
    1616px 1362px #fff, 1818px 917px #fff, 63px 630px #fff, 1892px 98px #fff,
    152px 1104px #fff, 242px 1132px #fff, 1058px 247px #fff, 108px 135px #fff,
    26px 1841px #fff, 506px 709px #fff, 964px 1086px #fff, 110px 601px #fff,
    1046px 1890px #fff, 266px 361px #fff, 1124px 438px #fff, 1219px 1525px #fff,
    988px 86px #fff, 255px 90px #fff, 119px 915px #fff, 918px 671px #fff,
    1880px 1916px #fff, 1982px 1428px #fff, 732px 491px #fff, 1193px 1265px #fff,
    220px 684px #fff, 1992px 897px #fff, 328px 1811px #fff, 783px 187px #fff,
    927px 136px #fff, 1019px 533px #fff, 786px 913px #fff, 872px 1765px #fff,
    21px 651px #fff, 1496px 1452px #fff, 1395px 706px #fff, 929px 1831px #fff,
    760px 427px #fff, 326px 1627px #fff, 1027px 1135px #fff, 1183px 644px #fff,
    411px 429px #fff, 262px 735px #fff, 504px 930px #fff, 396px 1885px #fff,
    1951px 67px #fff, 268px 383px #fff, 738px 831px #fff, 1335px 697px #fff,
    897px 698px #fff, 1072px 1998px #fff, 310px 129px #fff, 1248px 299px #fff,
    1765px 1618px #fff, 731px 380px #fff, 1463px 1356px #fff, 332px 803px #fff,
    1826px 1441px #fff, 1506px 1265px #fff, 813px 395px #fff, 1351px 1579px #fff,
    765px 1697px #fff, 648px 1426px #fff, 1299px 909px #fff, 1510px 1511px #fff,
    886px 578px #fff, 803px 1859px #fff, 1046px 1792px #fff, 645px 105px #fff,
    1135px 143px #fff, 89px 642px #fff, 349px 1279px #fff, 396px 530px #fff,
    244px 489px #fff, 632px 737px #fff, 878px 1384px #fff, 295px 50px #fff,
    1583px 1941px #fff, 315px 1544px #fff, 274px 794px #fff, 374px 1472px #fff,
    1391px 938px #fff, 900px 344px #fff, 1759px 616px #fff, 192px 398px #fff,
    729px 906px #fff, 328px 1681px #fff, 2000px 1569px #fff, 310px 355px #fff,
    1434px 195px #fff, 76px 1159px #fff, 1682px 1211px #fff, 1292px 1585px #fff,
    1427px 333px #fff, 1850px 402px #fff, 726px 1441px #fff, 1942px 986px #fff,
    1576px 1443px #fff, 1181px 175px #fff, 64px 554px #fff, 217px 1784px #fff,
    899px 1353px #fff, 3px 1946px #fff, 810px 486px #fff, 389px 480px #fff,
    617px 183px #fff, 583px 1704px #fff, 1600px 1770px #fff, 1259px 1386px #fff,
    462px 1616px #fff, 132px 1185px #fff, 1560px 818px #fff, 1043px 1085px #fff,
    786px 524px #fff, 274px 935px #fff, 1816px 1272px #fff, 773px 1447px #fff,
    1388px 659px #fff, 1535px 1180px #fff, 564px 714px #fff, 806px 425px #fff,
    783px 923px #fff, 1176px 442px #fff, 1499px 224px #fff, 132px 1663px #fff,
    1812px 1584px #fff, 494px 1237px #fff, 1326px 737px #fff, 586px 511px #fff,
    1854px 801px #fff, 837px 1942px #fff, 804px 316px #fff, 818px 895px #fff,
    1458px 632px #fff, 5px 111px #fff, 1344px 554px #fff, 243px 1202px #fff,
    190px 1124px #fff, 1183px 229px #fff, 541px 1000px #fff, 1689px 1683px #fff,
    1366px 988px #fff, 1709px 1422px #fff, 1260px 311px #fff, 819px 1743px #fff,
    878px 2px #fff, 106px 1086px #fff, 362px 1740px #fff, 1191px 391px #fff,
    1019px 1805px #fff, 206px 287px #fff, 637px 367px #fff, 1252px 1884px #fff,
    1044px 1017px #fff, 760px 1910px #fff, 1816px 1413px #fff, 722px 1858px #fff,
    493px 82px #fff, 539px 519px #fff, 1019px 810px #fff, 1162px 1750px #fff,
    883px 1649px #fff, 754px 1339px #fff, 766px 1047px #fff, 382px 393px #fff,
    1003px 1584px #fff, 971px 1597px #fff, 1992px 295px #fff, 115px 480px #fff,
    455px 993px #fff, 1934px 1356px #fff, 989px 1109px #fff, 185px 52px #fff,
    1263px 1798px #fff, 1251px 1118px #fff, 1113px 1671px #fff,
    1430px 427px #fff, 880px 1973px #fff, 705px 557px #fff, 1089px 628px #fff,
    602px 1608px #fff, 1707px 117px #fff, 1258px 774px #fff, 1854px 179px #fff,
    1894px 1461px #fff, 723px 69px #fff, 108px 1370px #fff, 825px 752px #fff,
    521px 166px #fff, 1378px 1719px #fff, 293px 1318px #fff, 183px 120px #fff,
    586px 321px #fff, 1622px 95px #fff, 927px 244px #fff, 1573px 843px #fff,
    1327px 339px #fff, 159px 482px #fff, 1916px 1464px #fff, 1740px 834px #fff,
    1862px 821px #fff, 219px 1650px #fff, 1099px 1242px #fff, 1718px 1275px #fff,
    31px 543px #fff, 71px 326px #fff, 1139px 1229px #fff, 768px 1578px #fff,
    1175px 1831px #fff, 1738px 447px #fff, 1354px 1342px #fff, 489px 932px #fff,
    495px 1142px #fff, 209px 1759px #fff, 225px 394px #fff, 111px 1088px #fff,
    146px 236px #fff, 392px 345px #fff, 1289px 1184px #fff, 1474px 662px #fff,
    966px 624px #fff, 735px 1276px #fff, 733px 1055px #fff, 1099px 557px #fff,
    721px 1802px #fff, 1939px 1733px #fff, 1265px 1503px #fff, 721px 401px #fff,
    786px 1336px #fff, 1748px 991px #fff, 256px 1565px #fff, 246px 161px #fff,
    1040px 1123px #fff, 1943px 780px #fff, 96px 314px #fff, 922px 1539px #fff,
    18px 1976px #fff, 278px 1114px #fff, 948px 719px #fff, 1137px 782px #fff,
    1154px 1722px #fff, 32px 1712px #fff, 14px 661px #fff, 1126px 332px #fff,
    859px 928px #fff, 1038px 447px #fff, 558px 726px #fff, 571px 1096px #fff,
    1923px 1351px #fff, 789px 536px #fff, 575px 1988px #fff, 1530px 1776px #fff,
    873px 1271px #fff, 1098px 84px #fff, 877px 900px #fff, 70px 499px #fff,
    1848px 927px #fff, 1096px 1670px #fff, 352px 925px #fff, 864px 126px #fff,
    1983px 518px #fff, 1156px 544px #fff, 632px 275px #fff, 1385px 1394px #fff,
    1043px 1546px #fff, 1725px 203px #fff, 346px 1150px #fff, 1500px 729px #fff,
    587px 1745px #fff, 593px 23px #fff, 24px 870px #fff, 946px 1217px #fff,
    763px 249px #fff, 1903px 1173px #fff, 1163px 1147px #fff, 502px 1865px #fff,
    1765px 1082px #fff, 1205px 1775px #fff, 910px 1338px #fff, 21px 866px #fff,
    1722px 1617px #fff, 1630px 1211px #fff, 361px 1633px #fff, 1089px 911px #fff,
    957px 508px #fff, 83px 343px #fff, 1900px 1934px #fff, 860px 1798px #fff,
    206px 1365px #fff, 411px 189px #fff, 784px 280px #fff, 1383px 383px #fff,
    116px 1632px #fff, 611px 36px #fff, 1960px 135px #fff, 623px 221px #fff,
    141px 1648px #fff, 151px 1027px #fff, 1584px 1669px #fff, 1172px 381px #fff,
    1098px 1536px #fff, 983px 1744px #fff, 302px 1761px #fff, 1966px 1136px #fff,
    252px 107px #fff, 121px 1632px #fff, 1828px 149px #fff, 545px 317px #fff,
    1732px 770px #fff, 1495px 1569px #fff, 1232px 1997px #fff,
    1912px 1826px #fff, 46px 1201px #fff, 1091px 24px #fff, 99px 658px #fff,
    324px 806px #fff, 1564px 1287px #fff, 1699px 1549px #fff, 1948px 995px #fff,
    539px 1683px #fff, 356px 341px #fff, 1304px 1702px #fff, 1539px 655px #fff,
    1670px 472px #fff, 1619px 1118px #fff, 66px 236px #fff, 905px 883px #fff,
    281px 447px #fff, 124px 519px #fff, 346px 1483px #fff, 1665px 161px #fff,
    1898px 834px #fff, 1667px 451px #fff, 829px 449px #fff, 788px 1463px #fff,
    204px 267px #fff, 1173px 1943px #fff, 1503px 882px #fff, 166px 1640px #fff,
    1189px 7px #fff, 1985px 1562px #fff, 1807px 31px #fff, 532px 847px #fff,
    1488px 52px #fff, 59px 1243px #fff, 849px 413px #fff, 1154px 390px #fff,
    1958px 1162px #fff, 191px 813px #fff, 326px 573px #fff, 283px 190px #fff,
    62px 1211px #fff, 858px 203px #fff, 1853px 1059px #fff, 127px 933px #fff,
    1073px 1322px #fff, 506px 302px #fff, 55px 1946px #fff, 1431px 1948px #fff,
    1459px 1875px #fff, 592px 821px #fff, 1262px 504px #fff, 2000px 706px #fff,
    1031px 476px #fff, 1738px 1197px #fff, 1370px 1200px #fff,
    1828px 1315px #fff, 1247px 993px #fff, 1208px 258px #fff, 1823px 925px #fff,
    1671px 1046px #fff, 1003px 1678px #fff, 1046px 422px #fff,
    1075px 1377px #fff, 1628px 1041px #fff, 236px 354px #fff, 1540px 1183px #fff,
    777px 1653px #fff, 381px 973px #fff, 1926px 1883px #fff, 1027px 1933px #fff,
    1040px 1558px #fff, 428px 71px #fff, 1268px 1201px #fff, 867px 507px #fff,
    677px 1946px #fff, 394px 1245px #fff, 1256px 1571px #fff, 366px 703px #fff,
    1184px 18px #fff, 802px 1540px #fff, 922px 285px #fff, 1799px 180px #fff,
    1205px 264px #fff, 300px 1122px #fff, 1515px 549px #fff, 542px 1152px #fff,
    1070px 1484px #fff, 1925px 934px #fff, 1269px 1769px #fff, 1870px 422px #fff,
    1934px 1744px #fff, 488px 772px #fff, 459px 492px #fff, 375px 702px #fff,
    835px 114px #fff, 806px 46px #fff, 1183px 1140px #fff, 1727px 1868px #fff,
    1155px 1360px #fff, 20px 1473px #fff, 1796px 1882px #fff, 59px 1193px #fff,
    1487px 1955px #fff, 639px 127px #fff, 1227px 775px #fff, 86px 150px #fff,
    1461px 1945px #fff, 731px 1157px #fff, 648px 1364px #fff, 1573px 1498px #fff,
    905px 117px #fff, 553px 1241px #fff, 149px 1490px #fff, 618px 36px #fff,
    1404px 1438px #fff, 129px 708px #fff, 221px 189px #fff, 1421px 1986px #fff,
    1537px 646px #fff, 1445px 1628px #fff, 383px 435px #fff, 784px 1373px #fff,
    1398px 1772px #fff, 847px 180px #fff, 992px 1733px #fff, 1912px 1774px #fff,
    1955px 33px #fff, 574px 1648px #fff, 287px 1484px #fff, 1751px 1641px #fff,
    432px 157px #fff, 1286px 1659px #fff, 432px 1575px #fff, 1814px 1033px #fff,
    110px 556px #fff, 186px 1795px #fff, 981px 178px #fff, 636px 1738px #fff,
    759px 1840px #fff, 1284px 1049px #fff, 1089px 1130px #fff,
    1405px 1746px #fff, 1606px 1119px #fff, 1620px 302px #fff, 1465px 17px #fff,
    73px 735px #fff, 1837px 372px #fff, 477px 589px #fff, 1689px 1563px #fff,
    34px 1561px #fff, 1673px 466px #fff, 797px 1259px #fff, 1481px 1407px #fff,
    1334px 1238px #fff, 154px 1324px #fff, 1004px 1178px #fff,
    1164px 1250px #fff, 1823px 663px #fff, 1465px 1486px #fff,
    1957px 1320px #fff, 832px 474px #fff, 1937px 848px #fff, 832px 61px #fff,
    1951px 443px #fff, 1763px 1585px #fff, 1361px 971px #fff, 1009px 626px #fff,
    1351px 832px #fff, 76px 1323px #fff, 1035px 1937px #fff, 1795px 1713px #fff,
    574px 485px #fff, 1185px 250px #fff, 848px 1045px #fff, 27px 928px #fff,
    1917px 1623px #fff, 831px 1975px #fff, 1097px 847px #fff, 748px 611px #fff,
    82px 131px #fff, 1074px 1506px #fff, 902px 1323px #fff, 551px 597px #fff,
    1468px 1543px #fff, 21px 1196px #fff, 1350px 1874px #fff, 1844px 1739px #fff,
    1643px 1764px #fff, 1067px 421px #fff, 572px 55px #fff, 290px 1500px #fff,
    1384px 545px #fff, 14px 133px #fff, 110px 215px #fff, 1929px 1033px #fff,
    564px 1917px #fff, 855px 469px #fff, 1003px 867px #fff, 1307px 1572px #fff,
    1575px 1191px #fff, 1723px 433px #fff, 1280px 1958px #fff, 288px 1348px #fff,
    182px 1799px #fff, 1411px 821px #fff, 557px 1482px #fff, 1551px 397px #fff,
    761px 1564px #fff, 758px 329px #fff, 361px 937px #fff, 296px 1739px #fff,
    311px 1145px #fff, 129px 338px #fff, 138px 649px #fff, 1063px 1269px #fff,
    591px 602px #fff, 804px 1145px #fff, 1725px 1380px #fff, 1382px 60px #fff,
    817px 982px #fff, 366px 1149px #fff, 1493px 1187px #fff, 1092px 1428px #fff,
    470px 1285px #fff, 1453px 1310px #fff, 1260px 372px #fff, 580px 1415px #fff,
    1900px 774px #fff, 1819px 435px #fff, 1190px 1945px #fff, 753px 1921px #fff,
    1323px 971px #fff, 669px 197px #fff, 897px 1645px #fff, 593px 246px #fff,
    67px 129px #fff, 730px 439px #fff, 1730px 1820px #fff, 576px 1980px #fff,
    510px 1072px #fff, 867px 345px #fff, 1113px 87px #fff, 899px 1673px #fff,
    918px 1175px #fff, 934px 1375px #fff, 1136px 884px #fff, 1235px 1903px #fff,
    666px 1408px #fff, 1038px 305px #fff, 370px 1609px #fff, 1740px 1745px #fff,
    1912px 276px #fff, 937px 1659px #fff, 1263px 1250px #fff, 708px 868px #fff,
    193px 449px #fff, 606px 1344px #fff, 1100px 1623px #fff, 695px 111px #fff,
    436px 1584px #fff, 612px 347px #fff, 1083px 1149px #fff, 1423px 1885px #fff,
    1609px 955px #fff, 1977px 535px #fff, 767px 655px #fff, 1342px 475px #fff,
    1981px 1896px #fff, 932px 259px #fff, 1261px 960px #fff, 238px 1735px #fff,
    958px 231px #fff, 1711px 862px #fff, 1911px 105px #fff, 73px 1969px #fff,
    824px 1545px #fff, 1730px 798px #fff, 1177px 1174px #fff, 1412px 1239px #fff,
    417px 1645px #fff, 100px 330px #fff, 1874px 300px #fff, 992px 1344px #fff,
    457px 101px #fff, 1386px 1645px #fff, 1322px 547px #fff, 1342px 303px #fff,
    1063px 257px #fff, 1990px 1506px #fff, 1038px 215px #fff, 1032px 18px #fff,
    214px 1958px #fff, 943px 1142px #fff, 308px 1133px #fff, 1212px 123px #fff,
    699px 1096px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 72px 1980px #fff, 484px 1137px #fff, 1350px 299px #fff,
    216px 1766px #fff, 689px 1687px #fff, 1052px 1413px #fff, 644px 1830px #fff,
    1549px 325px #fff, 148px 676px #fff, 427px 590px #fff, 1273px 1704px #fff,
    415px 368px #fff, 300px 1528px #fff, 1095px 847px #fff, 423px 946px #fff,
    611px 1180px #fff, 1109px 166px #fff, 955px 1312px #fff, 1630px 465px #fff,
    678px 1221px #fff, 1347px 446px #fff, 19px 601px #fff, 1360px 1325px #fff,
    753px 829px #fff, 112px 883px #fff, 723px 1983px #fff, 1255px 1837px #fff,
    1370px 826px #fff, 1390px 1094px #fff, 1562px 1074px #fff, 1219px 634px #fff,
    1755px 1793px #fff, 38px 1506px #fff, 1145px 589px #fff, 206px 1092px #fff,
    448px 1294px #fff, 1562px 1721px #fff, 1341px 69px #fff, 333px 512px #fff,
    86px 1447px #fff, 382px 1903px #fff, 1115px 1170px #fff, 1651px 763px #fff,
    917px 824px #fff, 1637px 726px #fff, 933px 649px #fff, 444px 669px #fff,
    776px 2000px #fff, 373px 705px #fff, 120px 564px #fff, 113px 934px #fff,
    1069px 544px #fff, 1510px 115px #fff, 1178px 638px #fff, 252px 1443px #fff,
    164px 690px #fff, 1238px 1504px #fff, 1968px 572px #fff, 723px 1671px #fff,
    106px 653px #fff, 538px 630px #fff, 92px 1926px #fff, 1475px 1624px #fff,
    709px 501px #fff, 1895px 649px #fff, 108px 1326px #fff, 1872px 1341px #fff,
    1456px 1964px #fff, 15px 1449px #fff, 661px 1989px #fff, 1593px 1095px #fff,
    386px 314px #fff, 1898px 1978px #fff, 1884px 973px #fff, 214px 1790px #fff,
    448px 1474px #fff, 528px 1691px #fff, 401px 1182px #fff, 471px 1203px #fff,
    756px 560px #fff, 122px 573px #fff, 346px 1836px #fff, 1529px 1497px #fff,
    1814px 1749px #fff, 1348px 1728px #fff, 573px 1481px #fff, 1373px 151px #fff,
    1860px 779px #fff, 1560px 1846px #fff, 529px 1148px #fff, 529px 1470px #fff,
    1291px 700px #fff, 1137px 1407px #fff, 1674px 1144px #fff,
    1616px 1362px #fff, 1818px 917px #fff, 63px 630px #fff, 1892px 98px #fff,
    152px 1104px #fff, 242px 1132px #fff, 1058px 247px #fff, 108px 135px #fff,
    26px 1841px #fff, 506px 709px #fff, 964px 1086px #fff, 110px 601px #fff,
    1046px 1890px #fff, 266px 361px #fff, 1124px 438px #fff, 1219px 1525px #fff,
    988px 86px #fff, 255px 90px #fff, 119px 915px #fff, 918px 671px #fff,
    1880px 1916px #fff, 1982px 1428px #fff, 732px 491px #fff, 1193px 1265px #fff,
    220px 684px #fff, 1992px 897px #fff, 328px 1811px #fff, 783px 187px #fff,
    927px 136px #fff, 1019px 533px #fff, 786px 913px #fff, 872px 1765px #fff,
    21px 651px #fff, 1496px 1452px #fff, 1395px 706px #fff, 929px 1831px #fff,
    760px 427px #fff, 326px 1627px #fff, 1027px 1135px #fff, 1183px 644px #fff,
    411px 429px #fff, 262px 735px #fff, 504px 930px #fff, 396px 1885px #fff,
    1951px 67px #fff, 268px 383px #fff, 738px 831px #fff, 1335px 697px #fff,
    897px 698px #fff, 1072px 1998px #fff, 310px 129px #fff, 1248px 299px #fff,
    1765px 1618px #fff, 731px 380px #fff, 1463px 1356px #fff, 332px 803px #fff,
    1826px 1441px #fff, 1506px 1265px #fff, 813px 395px #fff, 1351px 1579px #fff,
    765px 1697px #fff, 648px 1426px #fff, 1299px 909px #fff, 1510px 1511px #fff,
    886px 578px #fff, 803px 1859px #fff, 1046px 1792px #fff, 645px 105px #fff,
    1135px 143px #fff, 89px 642px #fff, 349px 1279px #fff, 396px 530px #fff,
    244px 489px #fff, 632px 737px #fff, 878px 1384px #fff, 295px 50px #fff,
    1583px 1941px #fff, 315px 1544px #fff, 274px 794px #fff, 374px 1472px #fff,
    1391px 938px #fff, 900px 344px #fff, 1759px 616px #fff, 192px 398px #fff,
    729px 906px #fff, 328px 1681px #fff, 2000px 1569px #fff, 310px 355px #fff,
    1434px 195px #fff, 76px 1159px #fff, 1682px 1211px #fff, 1292px 1585px #fff,
    1427px 333px #fff, 1850px 402px #fff, 726px 1441px #fff, 1942px 986px #fff,
    1576px 1443px #fff, 1181px 175px #fff, 64px 554px #fff, 217px 1784px #fff,
    899px 1353px #fff, 3px 1946px #fff, 810px 486px #fff, 389px 480px #fff,
    617px 183px #fff, 583px 1704px #fff, 1600px 1770px #fff, 1259px 1386px #fff,
    462px 1616px #fff, 132px 1185px #fff, 1560px 818px #fff, 1043px 1085px #fff,
    786px 524px #fff, 274px 935px #fff, 1816px 1272px #fff, 773px 1447px #fff,
    1388px 659px #fff, 1535px 1180px #fff, 564px 714px #fff, 806px 425px #fff,
    783px 923px #fff, 1176px 442px #fff, 1499px 224px #fff, 132px 1663px #fff,
    1812px 1584px #fff, 494px 1237px #fff, 1326px 737px #fff, 586px 511px #fff,
    1854px 801px #fff, 837px 1942px #fff, 804px 316px #fff, 818px 895px #fff,
    1458px 632px #fff, 5px 111px #fff, 1344px 554px #fff, 243px 1202px #fff,
    190px 1124px #fff, 1183px 229px #fff, 541px 1000px #fff, 1689px 1683px #fff,
    1366px 988px #fff, 1709px 1422px #fff, 1260px 311px #fff, 819px 1743px #fff,
    878px 2px #fff, 106px 1086px #fff, 362px 1740px #fff, 1191px 391px #fff,
    1019px 1805px #fff, 206px 287px #fff, 637px 367px #fff, 1252px 1884px #fff,
    1044px 1017px #fff, 760px 1910px #fff, 1816px 1413px #fff, 722px 1858px #fff,
    493px 82px #fff, 539px 519px #fff, 1019px 810px #fff, 1162px 1750px #fff,
    883px 1649px #fff, 754px 1339px #fff, 766px 1047px #fff, 382px 393px #fff,
    1003px 1584px #fff, 971px 1597px #fff, 1992px 295px #fff, 115px 480px #fff,
    455px 993px #fff, 1934px 1356px #fff, 989px 1109px #fff, 185px 52px #fff,
    1263px 1798px #fff, 1251px 1118px #fff, 1113px 1671px #fff,
    1430px 427px #fff, 880px 1973px #fff, 705px 557px #fff, 1089px 628px #fff,
    602px 1608px #fff, 1707px 117px #fff, 1258px 774px #fff, 1854px 179px #fff,
    1894px 1461px #fff, 723px 69px #fff, 108px 1370px #fff, 825px 752px #fff,
    521px 166px #fff, 1378px 1719px #fff, 293px 1318px #fff, 183px 120px #fff,
    586px 321px #fff, 1622px 95px #fff, 927px 244px #fff, 1573px 843px #fff,
    1327px 339px #fff, 159px 482px #fff, 1916px 1464px #fff, 1740px 834px #fff,
    1862px 821px #fff, 219px 1650px #fff, 1099px 1242px #fff, 1718px 1275px #fff,
    31px 543px #fff, 71px 326px #fff, 1139px 1229px #fff, 768px 1578px #fff,
    1175px 1831px #fff, 1738px 447px #fff, 1354px 1342px #fff, 489px 932px #fff,
    495px 1142px #fff, 209px 1759px #fff, 225px 394px #fff, 111px 1088px #fff,
    146px 236px #fff, 392px 345px #fff, 1289px 1184px #fff, 1474px 662px #fff,
    966px 624px #fff, 735px 1276px #fff, 733px 1055px #fff, 1099px 557px #fff,
    721px 1802px #fff, 1939px 1733px #fff, 1265px 1503px #fff, 721px 401px #fff,
    786px 1336px #fff, 1748px 991px #fff, 256px 1565px #fff, 246px 161px #fff,
    1040px 1123px #fff, 1943px 780px #fff, 96px 314px #fff, 922px 1539px #fff,
    18px 1976px #fff, 278px 1114px #fff, 948px 719px #fff, 1137px 782px #fff,
    1154px 1722px #fff, 32px 1712px #fff, 14px 661px #fff, 1126px 332px #fff,
    859px 928px #fff, 1038px 447px #fff, 558px 726px #fff, 571px 1096px #fff,
    1923px 1351px #fff, 789px 536px #fff, 575px 1988px #fff, 1530px 1776px #fff,
    873px 1271px #fff, 1098px 84px #fff, 877px 900px #fff, 70px 499px #fff,
    1848px 927px #fff, 1096px 1670px #fff, 352px 925px #fff, 864px 126px #fff,
    1983px 518px #fff, 1156px 544px #fff, 632px 275px #fff, 1385px 1394px #fff,
    1043px 1546px #fff, 1725px 203px #fff, 346px 1150px #fff, 1500px 729px #fff,
    587px 1745px #fff, 593px 23px #fff, 24px 870px #fff, 946px 1217px #fff,
    763px 249px #fff, 1903px 1173px #fff, 1163px 1147px #fff, 502px 1865px #fff,
    1765px 1082px #fff, 1205px 1775px #fff, 910px 1338px #fff, 21px 866px #fff,
    1722px 1617px #fff, 1630px 1211px #fff, 361px 1633px #fff, 1089px 911px #fff,
    957px 508px #fff, 83px 343px #fff, 1900px 1934px #fff, 860px 1798px #fff,
    206px 1365px #fff, 411px 189px #fff, 784px 280px #fff, 1383px 383px #fff,
    116px 1632px #fff, 611px 36px #fff, 1960px 135px #fff, 623px 221px #fff,
    141px 1648px #fff, 151px 1027px #fff, 1584px 1669px #fff, 1172px 381px #fff,
    1098px 1536px #fff, 983px 1744px #fff, 302px 1761px #fff, 1966px 1136px #fff,
    252px 107px #fff, 121px 1632px #fff, 1828px 149px #fff, 545px 317px #fff,
    1732px 770px #fff, 1495px 1569px #fff, 1232px 1997px #fff,
    1912px 1826px #fff, 46px 1201px #fff, 1091px 24px #fff, 99px 658px #fff,
    324px 806px #fff, 1564px 1287px #fff, 1699px 1549px #fff, 1948px 995px #fff,
    539px 1683px #fff, 356px 341px #fff, 1304px 1702px #fff, 1539px 655px #fff,
    1670px 472px #fff, 1619px 1118px #fff, 66px 236px #fff, 905px 883px #fff,
    281px 447px #fff, 124px 519px #fff, 346px 1483px #fff, 1665px 161px #fff,
    1898px 834px #fff, 1667px 451px #fff, 829px 449px #fff, 788px 1463px #fff,
    204px 267px #fff, 1173px 1943px #fff, 1503px 882px #fff, 166px 1640px #fff,
    1189px 7px #fff, 1985px 1562px #fff, 1807px 31px #fff, 532px 847px #fff,
    1488px 52px #fff, 59px 1243px #fff, 849px 413px #fff, 1154px 390px #fff,
    1958px 1162px #fff, 191px 813px #fff, 326px 573px #fff, 283px 190px #fff,
    62px 1211px #fff, 858px 203px #fff, 1853px 1059px #fff, 127px 933px #fff,
    1073px 1322px #fff, 506px 302px #fff, 55px 1946px #fff, 1431px 1948px #fff,
    1459px 1875px #fff, 592px 821px #fff, 1262px 504px #fff, 2000px 706px #fff,
    1031px 476px #fff, 1738px 1197px #fff, 1370px 1200px #fff,
    1828px 1315px #fff, 1247px 993px #fff, 1208px 258px #fff, 1823px 925px #fff,
    1671px 1046px #fff, 1003px 1678px #fff, 1046px 422px #fff,
    1075px 1377px #fff, 1628px 1041px #fff, 236px 354px #fff, 1540px 1183px #fff,
    777px 1653px #fff, 381px 973px #fff, 1926px 1883px #fff, 1027px 1933px #fff,
    1040px 1558px #fff, 428px 71px #fff, 1268px 1201px #fff, 867px 507px #fff,
    677px 1946px #fff, 394px 1245px #fff, 1256px 1571px #fff, 366px 703px #fff,
    1184px 18px #fff, 802px 1540px #fff, 922px 285px #fff, 1799px 180px #fff,
    1205px 264px #fff, 300px 1122px #fff, 1515px 549px #fff, 542px 1152px #fff,
    1070px 1484px #fff, 1925px 934px #fff, 1269px 1769px #fff, 1870px 422px #fff,
    1934px 1744px #fff, 488px 772px #fff, 459px 492px #fff, 375px 702px #fff,
    835px 114px #fff, 806px 46px #fff, 1183px 1140px #fff, 1727px 1868px #fff,
    1155px 1360px #fff, 20px 1473px #fff, 1796px 1882px #fff, 59px 1193px #fff,
    1487px 1955px #fff, 639px 127px #fff, 1227px 775px #fff, 86px 150px #fff,
    1461px 1945px #fff, 731px 1157px #fff, 648px 1364px #fff, 1573px 1498px #fff,
    905px 117px #fff, 553px 1241px #fff, 149px 1490px #fff, 618px 36px #fff,
    1404px 1438px #fff, 129px 708px #fff, 221px 189px #fff, 1421px 1986px #fff,
    1537px 646px #fff, 1445px 1628px #fff, 383px 435px #fff, 784px 1373px #fff,
    1398px 1772px #fff, 847px 180px #fff, 992px 1733px #fff, 1912px 1774px #fff,
    1955px 33px #fff, 574px 1648px #fff, 287px 1484px #fff, 1751px 1641px #fff,
    432px 157px #fff, 1286px 1659px #fff, 432px 1575px #fff, 1814px 1033px #fff,
    110px 556px #fff, 186px 1795px #fff, 981px 178px #fff, 636px 1738px #fff,
    759px 1840px #fff, 1284px 1049px #fff, 1089px 1130px #fff,
    1405px 1746px #fff, 1606px 1119px #fff, 1620px 302px #fff, 1465px 17px #fff,
    73px 735px #fff, 1837px 372px #fff, 477px 589px #fff, 1689px 1563px #fff,
    34px 1561px #fff, 1673px 466px #fff, 797px 1259px #fff, 1481px 1407px #fff,
    1334px 1238px #fff, 154px 1324px #fff, 1004px 1178px #fff,
    1164px 1250px #fff, 1823px 663px #fff, 1465px 1486px #fff,
    1957px 1320px #fff, 832px 474px #fff, 1937px 848px #fff, 832px 61px #fff,
    1951px 443px #fff, 1763px 1585px #fff, 1361px 971px #fff, 1009px 626px #fff,
    1351px 832px #fff, 76px 1323px #fff, 1035px 1937px #fff, 1795px 1713px #fff,
    574px 485px #fff, 1185px 250px #fff, 848px 1045px #fff, 27px 928px #fff,
    1917px 1623px #fff, 831px 1975px #fff, 1097px 847px #fff, 748px 611px #fff,
    82px 131px #fff, 1074px 1506px #fff, 902px 1323px #fff, 551px 597px #fff,
    1468px 1543px #fff, 21px 1196px #fff, 1350px 1874px #fff, 1844px 1739px #fff,
    1643px 1764px #fff, 1067px 421px #fff, 572px 55px #fff, 290px 1500px #fff,
    1384px 545px #fff, 14px 133px #fff, 110px 215px #fff, 1929px 1033px #fff,
    564px 1917px #fff, 855px 469px #fff, 1003px 867px #fff, 1307px 1572px #fff,
    1575px 1191px #fff, 1723px 433px #fff, 1280px 1958px #fff, 288px 1348px #fff,
    182px 1799px #fff, 1411px 821px #fff, 557px 1482px #fff, 1551px 397px #fff,
    761px 1564px #fff, 758px 329px #fff, 361px 937px #fff, 296px 1739px #fff,
    311px 1145px #fff, 129px 338px #fff, 138px 649px #fff, 1063px 1269px #fff,
    591px 602px #fff, 804px 1145px #fff, 1725px 1380px #fff, 1382px 60px #fff,
    817px 982px #fff, 366px 1149px #fff, 1493px 1187px #fff, 1092px 1428px #fff,
    470px 1285px #fff, 1453px 1310px #fff, 1260px 372px #fff, 580px 1415px #fff,
    1900px 774px #fff, 1819px 435px #fff, 1190px 1945px #fff, 753px 1921px #fff,
    1323px 971px #fff, 669px 197px #fff, 897px 1645px #fff, 593px 246px #fff,
    67px 129px #fff, 730px 439px #fff, 1730px 1820px #fff, 576px 1980px #fff,
    510px 1072px #fff, 867px 345px #fff, 1113px 87px #fff, 899px 1673px #fff,
    918px 1175px #fff, 934px 1375px #fff, 1136px 884px #fff, 1235px 1903px #fff,
    666px 1408px #fff, 1038px 305px #fff, 370px 1609px #fff, 1740px 1745px #fff,
    1912px 276px #fff, 937px 1659px #fff, 1263px 1250px #fff, 708px 868px #fff,
    193px 449px #fff, 606px 1344px #fff, 1100px 1623px #fff, 695px 111px #fff,
    436px 1584px #fff, 612px 347px #fff, 1083px 1149px #fff, 1423px 1885px #fff,
    1609px 955px #fff, 1977px 535px #fff, 767px 655px #fff, 1342px 475px #fff,
    1981px 1896px #fff, 932px 259px #fff, 1261px 960px #fff, 238px 1735px #fff,
    958px 231px #fff, 1711px 862px #fff, 1911px 105px #fff, 73px 1969px #fff,
    824px 1545px #fff, 1730px 798px #fff, 1177px 1174px #fff, 1412px 1239px #fff,
    417px 1645px #fff, 100px 330px #fff, 1874px 300px #fff, 992px 1344px #fff,
    457px 101px #fff, 1386px 1645px #fff, 1322px 547px #fff, 1342px 303px #fff,
    1063px 257px #fff, 1990px 1506px #fff, 1038px 215px #fff, 1032px 18px #fff,
    214px 1958px #fff, 943px 1142px #fff, 308px 1133px #fff, 1212px 123px #fff,
    699px 1096px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1766px 16563px #fff, 898px 361px #fff, 676px 848px #fff,
    950px 1366px #fff, 540px 1659px #fff, 33px 1986px #fff, 1260px 1067px #fff,
    1504px 1736px #fff, 807px 151px #fff, 1823px 921px #fff, 1441px 333px #fff,
    1730px 634px #fff, 645px 1938px #fff, 1521px 234px #fff, 1381px 1726px #fff,
    1306px 1024px #fff, 217px 631px #fff, 236px 444px #fff, 687px 943px #fff,
    797px 953px #fff, 929px 20px #fff, 1381px 315px #fff, 392px 1087px #fff,
    1968px 1852px #fff, 1961px 1155px #fff, 1658px 394px #fff, 971px 761px #fff,
    48px 1814px #fff, 1971px 836px #fff, 1207px 1170px #fff, 8px 1075px #fff,
    622px 1070px #fff, 1914px 162px #fff, 1898px 613px #fff, 306px 947px #fff,
    391px 1363px #fff, 862px 50px #fff, 850px 40px #fff, 461px 801px #fff,
    1357px 1080px #fff, 1274px 1125px #fff, 828px 1686px #fff,
    1730px 1033px #fff, 1387px 547px #fff, 442px 555px #fff, 1622px 1951px #fff,
    1809px 293px #fff, 99px 1874px #fff, 1082px 538px #fff, 1962px 1634px #fff,
    932px 1747px #fff, 1232px 1011px #fff, 160px 584px #fff, 1494px 1282px #fff,
    1814px 1124px #fff, 366px 834px #fff, 1135px 1359px #fff, 1408px 1521px #fff,
    35px 1758px #fff, 1092px 21px #fff, 1129px 268px #fff, 1813px 529px #fff,
    567px 1351px #fff, 758px 1270px #fff, 1223px 1158px #fff, 542px 302px #fff,
    1525px 1609px #fff, 26px 906px #fff, 1667px 105px #fff, 282px 730px #fff,
    1036px 1208px #fff, 1850px 1367px #fff, 1995px 577px #fff, 1037px 768px #fff,
    1630px 1742px #fff, 720px 968px #fff, 1110px 1115px #fff, 162px 1469px #fff,
    1787px 1288px #fff, 196px 1813px #fff, 244px 588px #fff, 1421px 72px #fff,
    543px 758px #fff, 1230px 1914px #fff, 1486px 636px #fff, 150px 1669px #fff,
    554px 582px #fff, 172px 1858px #fff, 1179px 1014px #fff, 442px 732px #fff,
    751px 1657px #fff, 1549px 270px #fff, 1406px 329px #fff, 335px 1875px #fff,
    107px 245px #fff, 1764px 1595px #fff, 1039px 1920px #fff, 1314px 27px #fff,
    290px 7px #fff, 326px 698px #fff, 964px 1795px #fff, 1761px 1466px #fff,
    1293px 955px #fff, 227px 957px #fff, 788px 690px #fff, 1788px 417px #fff,
    325px 1296px #fff, 315px 868px #fff, 1861px 1806px #fff, 1481px 690px #fff,
    1307px 521px #fff, 335px 853px #fff, 1099px 1083px #fff, 748px 1889px #fff,
    702px 535px #fff, 156px 729px #fff, 1915px 677px #fff, 920px 1611px #fff,
    563px 940px #fff, 1618px 1475px #fff, 141px 1361px #fff, 679px 610px #fff,
    1117px 1398px #fff, 515px 388px #fff, 464px 923px #fff, 693px 1008px #fff,
    1869px 982px #fff, 1685px 1077px #fff, 443px 1113px #fff, 1619px 919px #fff,
    672px 1759px #fff, 1840px 350px #fff, 864px 421px #fff, 1305px 1798px #fff,
    837px 828px #fff, 1218px 1573px #fff, 966px 328px #fff, 292px 710px #fff,
    198px 459px #fff, 1545px 815px #fff, 202px 643px #fff, 1609px 1271px #fff,
    605px 1113px #fff, 664px 166px #fff, 185px 710px #fff, 150px 388px #fff,
    394px 213px #fff, 462px 134px #fff, 1173px 452px #fff, 1026px 193px #fff,
    904px 1902px #fff, 1302px 11px #fff, 1803px 1600px #fff, 128px 1629px #fff,
    600px 292px #fff, 289px 1289px #fff, 1017px 545px #fff, 500px 77px #fff,
    525px 11px #fff, 1652px 970px #fff, 619px 1988px #fff, 11px 371px #fff,
    601px 656px #fff, 31px 287px #fff, 760px 1815px #fff, 664px 705px #fff,
    72px 1515px #fff, 1674px 1723px #fff, 730px 1821px #fff, 17px 1736px #fff,
    546px 531px #fff, 1169px 1687px #fff, 1389px 91px #fff, 1289px 1478px #fff,
    1662px 430px #fff, 1591px 124px #fff, 1258px 1368px #fff, 1489px 1376px #fff,
    157px 709px #fff, 810px 1302px #fff, 1852px 354px #fff, 1327px 1821px #fff,
    1322px 1207px #fff, 551px 182px #fff, 1212px 451px #fff, 1034px 1711px #fff,
    288px 317px #fff, 506px 488px #fff, 1676px 1839px #fff, 1820px 1603px #fff,
    1034px 854px #fff, 1282px 74px #fff, 760px 87px #fff, 47px 620px #fff,
    1445px 1736px #fff, 1465px 216px #fff, 1790px 1723px #fff, 1698px 93px #fff,
    1030px 429px #fff, 377px 884px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1766px 16563px #fff, 898px 361px #fff, 676px 848px #fff,
    950px 1366px #fff, 540px 1659px #fff, 33px 1986px #fff, 1260px 1067px #fff,
    1504px 1736px #fff, 807px 151px #fff, 1823px 921px #fff, 1441px 333px #fff,
    1730px 634px #fff, 645px 1938px #fff, 1521px 234px #fff, 1381px 1726px #fff,
    1306px 1024px #fff, 217px 631px #fff, 236px 444px #fff, 687px 943px #fff,
    797px 953px #fff, 929px 20px #fff, 1381px 315px #fff, 392px 1087px #fff,
    1968px 1852px #fff, 1961px 1155px #fff, 1658px 394px #fff, 971px 761px #fff,
    48px 1814px #fff, 1971px 836px #fff, 1207px 1170px #fff, 8px 1075px #fff,
    622px 1070px #fff, 1914px 162px #fff, 1898px 613px #fff, 306px 947px #fff,
    391px 1363px #fff, 862px 50px #fff, 850px 40px #fff, 461px 801px #fff,
    1357px 1080px #fff, 1274px 1125px #fff, 828px 1686px #fff,
    1730px 1033px #fff, 1387px 547px #fff, 442px 555px #fff, 1622px 1951px #fff,
    1809px 293px #fff, 99px 1874px #fff, 1082px 538px #fff, 1962px 1634px #fff,
    932px 1747px #fff, 1232px 1011px #fff, 160px 584px #fff, 1494px 1282px #fff,
    1814px 1124px #fff, 366px 834px #fff, 1135px 1359px #fff, 1408px 1521px #fff,
    35px 1758px #fff, 1092px 21px #fff, 1129px 268px #fff, 1813px 529px #fff,
    567px 1351px #fff, 758px 1270px #fff, 1223px 1158px #fff, 542px 302px #fff,
    1525px 1609px #fff, 26px 906px #fff, 1667px 105px #fff, 282px 730px #fff,
    1036px 1208px #fff, 1850px 1367px #fff, 1995px 577px #fff, 1037px 768px #fff,
    1630px 1742px #fff, 720px 968px #fff, 1110px 1115px #fff, 162px 1469px #fff,
    1787px 1288px #fff, 196px 1813px #fff, 244px 588px #fff, 1421px 72px #fff,
    543px 758px #fff, 1230px 1914px #fff, 1486px 636px #fff, 150px 1669px #fff,
    554px 582px #fff, 172px 1858px #fff, 1179px 1014px #fff, 442px 732px #fff,
    751px 1657px #fff, 1549px 270px #fff, 1406px 329px #fff, 335px 1875px #fff,
    107px 245px #fff, 1764px 1595px #fff, 1039px 1920px #fff, 1314px 27px #fff,
    290px 7px #fff, 326px 698px #fff, 964px 1795px #fff, 1761px 1466px #fff,
    1293px 955px #fff, 227px 957px #fff, 788px 690px #fff, 1788px 417px #fff,
    325px 1296px #fff, 315px 868px #fff, 1861px 1806px #fff, 1481px 690px #fff,
    1307px 521px #fff, 335px 853px #fff, 1099px 1083px #fff, 748px 1889px #fff,
    702px 535px #fff, 156px 729px #fff, 1915px 677px #fff, 920px 1611px #fff,
    563px 940px #fff, 1618px 1475px #fff, 141px 1361px #fff, 679px 610px #fff,
    1117px 1398px #fff, 515px 388px #fff, 464px 923px #fff, 693px 1008px #fff,
    1869px 982px #fff, 1685px 1077px #fff, 443px 1113px #fff, 1619px 919px #fff,
    672px 1759px #fff, 1840px 350px #fff, 864px 421px #fff, 1305px 1798px #fff,
    837px 828px #fff, 1218px 1573px #fff, 966px 328px #fff, 292px 710px #fff,
    198px 459px #fff, 1545px 815px #fff, 202px 643px #fff, 1609px 1271px #fff,
    605px 1113px #fff, 664px 166px #fff, 185px 710px #fff, 150px 388px #fff,
    394px 213px #fff, 462px 134px #fff, 1173px 452px #fff, 1026px 193px #fff,
    904px 1902px #fff, 1302px 11px #fff, 1803px 1600px #fff, 128px 1629px #fff,
    600px 292px #fff, 289px 1289px #fff, 1017px 545px #fff, 500px 77px #fff,
    525px 11px #fff, 1652px 970px #fff, 619px 1988px #fff, 11px 371px #fff,
    601px 656px #fff, 31px 287px #fff, 760px 1815px #fff, 664px 705px #fff,
    72px 1515px #fff, 1674px 1723px #fff, 730px 1821px #fff, 17px 1736px #fff,
    546px 531px #fff, 1169px 1687px #fff, 1389px 91px #fff, 1289px 1478px #fff,
    1662px 430px #fff, 1591px 124px #fff, 1258px 1368px #fff, 1489px 1376px #fff,
    157px 709px #fff, 810px 1302px #fff, 1852px 354px #fff, 1327px 1821px #fff,
    1322px 1207px #fff, 551px 182px #fff, 1212px 451px #fff, 1034px 1711px #fff,
    288px 317px #fff, 506px 488px #fff, 1676px 1839px #fff, 1820px 1603px #fff,
    1034px 854px #fff, 1282px 74px #fff, 760px 87px #fff, 47px 620px #fff,
    1445px 1736px #fff, 1465px 216px #fff, 1790px 1723px #fff, 1698px 93px #fff,
    1030px 429px #fff, 377px 884px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1657px 6413px #fff, 45px 1465px #fff, 862px 1659px #fff,
    1992px 1675px #fff, 1139px 144px #fff, 1701px 1149px #fff,
    1572px 1022px #fff, 665px 861px #fff, 1859px 1979px #fff, 473px 92px #fff,
    1318px 1519px #fff, 16px 349px #fff, 1728px 1027px #fff, 379px 1967px #fff,
    1808px 677px #fff, 1297px 682px #fff, 496px 487px #fff, 951px 857px #fff,
    44px 33px #fff, 1471px 1814px #fff, 543px 197px #fff, 494px 1278px #fff,
    225px 121px #fff, 99px 555px #fff, 1937px 1646px #fff, 1581px 661px #fff,
    668px 999px #fff, 93px 1270px #fff, 1021px 1px #fff, 1688px 1418px #fff,
    649px 583px #fff, 864px 1484px #fff, 236px 1197px #fff, 1408px 486px #fff,
    1916px 1147px #fff, 1674px 1738px #fff, 173px 607px #fff, 1634px 401px #fff,
    1013px 703px #fff, 1815px 1635px #fff, 1152px 331px #fff, 199px 30px #fff,
    235px 700px #fff, 601px 862px #fff, 676px 1340px #fff, 36px 1599px #fff,
    703px 1438px #fff, 1209px 1px #fff, 574px 551px #fff, 1837px 928px #fff,
    542px 1939px #fff, 328px 770px #fff, 454px 49px #fff, 1495px 1712px #fff,
    233px 988px #fff, 107px 411px #fff, 732px 1598px #fff, 1195px 687px #fff,
    104px 1803px #fff, 1080px 223px #fff, 185px 1998px #fff, 364px 1496px #fff,
    1629px 1092px #fff, 1992px 392px #fff, 1536px 1401px #fff,
    1702px 1856px #fff, 1082px 339px #fff, 1805px 1256px #fff, 319px 138px #fff,
    899px 56px #fff, 389px 1040px #fff, 1890px 517px #fff, 996px 1581px #fff,
    948px 345px #fff, 654px 1069px #fff, 1303px 1041px #fff, 1px 1518px #fff,
    1582px 340px #fff, 1870px 1062px #fff, 1558px 1098px #fff,
    1250px 1990px #fff, 1712px 1511px #fff, 1043px 1034px #fff,
    754px 1965px #fff, 26px 1087px #fff, 657px 76px #fff, 1755px 1024px #fff,
    863px 630px #fff, 678px 1047px #fff, 1301px 1957px #fff, 1137px 1271px #fff,
    1165px 1423px #fff, 389px 1891px #fff, 1682px 464px #fff, 1236px 410px #fff,
    976px 1504px #fff, 729px 1615px #fff, 1487px 130px #fff, 1193px 1515px #fff,
    494px 131px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1657px 6413px #fff, 45px 1465px #fff, 862px 1659px #fff,
    1992px 1675px #fff, 1139px 144px #fff, 1701px 1149px #fff,
    1572px 1022px #fff, 665px 861px #fff, 1859px 1979px #fff, 473px 92px #fff,
    1318px 1519px #fff, 16px 349px #fff, 1728px 1027px #fff, 379px 1967px #fff,
    1808px 677px #fff, 1297px 682px #fff, 496px 487px #fff, 951px 857px #fff,
    44px 33px #fff, 1471px 1814px #fff, 543px 197px #fff, 494px 1278px #fff,
    225px 121px #fff, 99px 555px #fff, 1937px 1646px #fff, 1581px 661px #fff,
    668px 999px #fff, 93px 1270px #fff, 1021px 1px #fff, 1688px 1418px #fff,
    649px 583px #fff, 864px 1484px #fff, 236px 1197px #fff, 1408px 486px #fff,
    1916px 1147px #fff, 1674px 1738px #fff, 173px 607px #fff, 1634px 401px #fff,
    1013px 703px #fff, 1815px 1635px #fff, 1152px 331px #fff, 199px 30px #fff,
    235px 700px #fff, 601px 862px #fff, 676px 1340px #fff, 36px 1599px #fff,
    703px 1438px #fff, 1209px 1px #fff, 574px 551px #fff, 1837px 928px #fff,
    542px 1939px #fff, 328px 770px #fff, 454px 49px #fff, 1495px 1712px #fff,
    233px 988px #fff, 107px 411px #fff, 732px 1598px #fff, 1195px 687px #fff,
    104px 1803px #fff, 1080px 223px #fff, 185px 1998px #fff, 364px 1496px #fff,
    1629px 1092px #fff, 1992px 392px #fff, 1536px 1401px #fff,
    1702px 1856px #fff, 1082px 339px #fff, 1805px 1256px #fff, 319px 138px #fff,
    899px 56px #fff, 389px 1040px #fff, 1890px 517px #fff, 996px 1581px #fff,
    948px 345px #fff, 654px 1069px #fff, 1303px 1041px #fff, 1px 1518px #fff,
    1582px 340px #fff, 1870px 1062px #fff, 1558px 1098px #fff,
    1250px 1990px #fff, 1712px 1511px #fff, 1043px 1034px #fff,
    754px 1965px #fff, 26px 1087px #fff, 657px 76px #fff, 1755px 1024px #fff,
    863px 630px #fff, 678px 1047px #fff, 1301px 1957px #fff, 1137px 1271px #fff,
    1165px 1423px #fff, 389px 1891px #fff, 1682px 464px #fff, 1236px 410px #fff,
    976px 1504px #fff, 729px 1615px #fff, 1487px 130px #fff, 1193px 1515px #fff,
    494px 131px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
